<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <connectionStrings>
    <add name="currentDB" connectionString="Default" />
    
    <add name="Test" connectionString="ADLUmPaQbfqTmoCnWO9V+OVCl6YvpDg4DFMlIQHkBWRHBUNN0WSaQuJhY1vmR3k3gOBL9PD4h+8KSm70FhTZUjOAFDxJXDE8a1GApLc1UOIz70a2FZKnznOtBHwVMSRy4yLRh4DfSmT00H1crF/wK3dIirsm5A+p" />
    <add name="Production" connectionString="ADLUmPaQbfqtdQ8cx0uZp9ciopJqKTDflAnKjQhg3b+60NQrlg4uE5iKV7upf9dt0u2jQBwainfyUGrML1jomZLEIZ1wCoZdd5ZRi+rpmGFFZcg3CczTvu2dcqj4DreoDlb7e/cZMaruk3716nUr9YkXjffhg/z+" />
    <add name="Default" connectionString="ADLUmPaQbfqtdQ8cx0uZp9ciopJqKTDflAnKjQhg3b+60NQrlg4uE5iKV7upf9dt0u2jQBwainfyUGrML1jomZLEIZ1wCoZdd5ZRi+rpmGFFZcg3CczTvu2dcqj4DreoDlb7e/cZMaruk3716nUr9YkXjffhg/z+" />

    <!--<add name="Test" connectionString="Data Source=tcDevDB01\TRLM;Initial Catalog=trilliumcompanion;User ID=transport;PWD=transport;Application Name=SIC" />
    <add name="Production" connectionString="Data Source=TRLM_Companion;Initial Catalog=trilliumcompanion;User ID=transport;PWD=transport;Application Name=SIC" /> 
    <add name="Default" connectionString="Data Source=TRLM_Companion;Initial Catalog=trilliumcompanion;User ID=transport;PWD=transport;Application Name=SIC" />-->

  </connectionStrings>
  
  <appSettings>
    <add key="RunningModel" value="Test" />

    <add key="AuthenticateMethod" value="NameOnlyFalse" />
    <add key="AppServers" value="WEBAPP11,WEBAPP12,WEBAPP13,WEBAPP14,WEBAPP15,WEBAPP16,WEBAPP17,WEBAPP18,WEBAPP19" />
    <add key="Developers" value="mif," />

    <add key="WebServiceUser" value="service_cecweb" />
    <add key="WebServiceWP" value="$C3C@W3b#" />

    <add key="eMailTry" value="Test" />

    <add key="SMTPServer" value="intramail.tcdsb.org" />

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>